/* CSS HSL */
:root{
  --phthalo-blue: hsla(242, 70%, 29%, 1);
  --cornflower-blue: hsla(221, 100%, 66%, 1);
  --palatinate-blue: hsla(241, 97%, 60%, 1);
  --french-rose: hsla(342, 100%, 62%, 1);
  --penn-blue: rgba(7, 8, 54, 0.511);
}